* {
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}

header {
  background-color: #5f2568;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  height: 5rem;
  border-bottom: 5px solid #e3c480;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

.menu-item {
  margin-left: 54px;
}

h1 {
  color: #e3c480;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

main {
  padding: 2%;
  background: #e6dbfb;
}

li {
  color: #ffeb3b;
}

li a {
  color: #eee5fb;
  font-size: 1.25em;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
}

/* mouse over link */
li a:hover {
  color: #fbde06;
}

/* selected link */
li a:active {
  color: #e1ff00;
}

.intro {
  text-align: center;
  color: #5f2568;
}

section#rsvp-form {
  text-align: center;
  height: 10rem;
  padding: 2% 0;
  margin: 2% 31%;
  background: #5f2568;
  border-radius: 43px;
}

li#email {
  background: #9b6c9a;
  line-height: 2;
}

li#github {
  background: #9575cd;
  line-height: 2;
}

li#portfolio {
  background: #5f2568;
  line-height: 2;
}

img {
  border-radius: 15px 50px 15px;
  border: 6px solid #967731;
  max-width: 400px;
  padding: 20px;
  background: #e3c480;
  margin: 29px auto;
  display: block;
}

p {
  font-size: 20px;
}

footer {
  background: #5f2568;
  text-align: center;
  color: #e3c480;
  padding: 1% 0;
}

footer a {
  color: #e8b547;
}

section#rsvp-form p {
  padding: 1% 0;
  color: #e3c480;
}

section#rsvp-form h2 {
  font-size: 22px;
  color: #f5f4f2;
  padding-bottom: 11px;
}

button {
  padding: 6px 44px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  background: #e3c480;
  border-radius: 16px;
  font-weight: 900;
}