h1 {
  color: #7c4dff;
}
main {
  padding: 2%;
  background: #e6dbfb;
}
li {
  color: #ffeb3b;
}

li > a {
  color: #eee5fb;
}

li#email {
  background: #9b6c9a;
  line-height: 2;
}
li#github {
  background: #9575cd;
  line-height: 2;
}
li#portfolio {
  background: #5f2568;
  line-height: 2;
}

img {
  border-radius: 15px 50px 15px;
  border: 4px solid #9575cd;
}
